body{
  background-color: #fff;
  background-image: url('https://c.pxhere.com/photos/8c/f7/letter_handwriting_ink_pen_written_correspondence_vintage_romantic-731044.jpg!d');

}
h1{
  text-align: center;
  margin: 5% auto;
}
h4{
  text-align: right;
}
p{
  text-align:center;
}
button{
  margin: auto;
}
.btns{
  background-color: 0;
  margin: 15px 30px;
  flex-wrap: wrap;
  flex: 1 1 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  

}

.card{
 display: block;
 text-align: center;
 background: rgba(0,0,0,0.2);
 box-sizing: border-box;
 border-radius: 15px;
 width: 80%;
 height: 300px;
 margin: 5% auto 0%;
 padding: 10% 10% 6%;
  
}